@font-face {
  font-family: 'Nexa Script Regular';
  src: url('../fonts/NexaScript-Regular.eot');
  src: url('../fonts/NexaScript-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NexaScript-Regular.woff') format('woff'),
  url('../fonts/NexaScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ProximaNovaLight.otf") format("otf");
}
