.height-2-rows{
  height: 715px;
  float: left;
  & .tumbnail-description{
    top: -675px;
  }
}
// ============================================================================accordion
#accordion {
    margin: 0 auto;
}
#accordion input {
	display: none;
}
#accordion label {
  background-color: #292929;
  border-top: 1px solid rgba(211, 171, 101,0.2);
  border-left: 1px solid rgba(211, 171, 101,0.2);
  border-right: 1px solid rgba(211, 171, 101,0.2);
  border-bottom: 1px solid transparent;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: 0;
	padding: .25em 1em;
	z-index: 20;
}
#accordion label:hover {
  background-color: #292929;
}

#accordion input:checked + label {
  background-color: #292929;
  border-top: 1px solid #d3ab65;
  border-left: 1px solid #d3ab65;
  border-right: 1px solid #d3ab65;
  border-bottom: 1px solid transparent;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
#accordion ul {
  background-color: #292929;
  border-top: 1px solid transparent;
  border-left: 1px solid rgba(211, 171, 101,0.2);
  border-right: 1px solid rgba(211, 171, 101,0.2);
  border-bottom: 1px solid rgba(211, 171, 101,0.2);

  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  height: auto;
  margin-top: -2px;
  margin-bottom: .5em;
}
#accordion input:checked ul {
  background-color: #292929;
  border-top: 1px solid transparent;
  border-left: 1px solid #d3ab65;
  border-right: 1px solid #d3ab65;
  border-bottom: 1px solid #d3ab65;
}
#accordion input:checked ~ ul {
  background-color: #292929;
  border-top: 1px solid transparent;
  border-left: 1px solid #d3ab65;
  border-right: 1px solid #d3ab65;
  border-bottom: 1px solid #d3ab65;
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
  margin-top: -2px;
	margin-bottom: .5em;
}
