<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
    <!-- safari 9 bug fix --><meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Мебельная фабрика Демидов А.</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <!--search engines-->
    <!--open graph & social-->

    <!--fav-->
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-ipad-retina.png">
    <link rel="icon" type="image/png" href="64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="128.png" sizes="128x128">

    <!-- scripts -->

  </head>
  <body>
    <header>
      <div id="top" class="container section">
        <div class="label">
          <img class="brand-logo" src="images/logo.png" alt="компания Демидовых">
          <h1 class="brand-name hidden">Мебельная фабрика Демидов А.</h1>
        </div>
        <nav id="navbar" class="navbar">
          <script type="text/javascript">
            let sandwich = document.getElementById("navbar");
            let viewport = window.innerWidth;
            if (viewport < 640) {
              sandwich.className += " navbar-default navbar-fixed-top"
            }
          </script>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <a href="#" class="nav-item">Коллекции</a>
            <a href="#" class="nav-item">Проекты</a>
            <a href="#" class="nav-item">Преимущества</a>
            <a href="#" class="nav-item">Интернет-магазин</a>
            <a href="#" class="nav-item">Новости</a>
            <a href="#" class="nav-item">История</a>
            <a href="#" class="nav-item">Производство</a>
            <a href="#" class="nav-item">Контакты</a>
          </div>
        </nav>
        <div class="item visible-xs-block">
          <div class="container">
            <div class="carousel-caption">
              <h2 class="section-header">Роскошь древесины <br> в Bашем доме</h2>
              <p>Позвольте себе качество</p>
              <p><a class="btn btn-lg btn-gold" href="#" role="button">Заказать сейчас</a></p>
            </div>
          </div>
        </div>
        <div class="slider">
          <div id="top-carousel" class="carousel slide hidden-xs" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#top-carousel" data-slide-to="0" class=""></li>
              <li data-target="#top-carousel" data-slide-to="1" class=""></li>
              <li data-target="#top-carousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <div class="container">
                  <div class="carousel-caption">
                    <h2 class="section-header">Роскошь древесины <br> в Bашем доме</h2>
                    <p>Позвольте себе качество</p>
                    <p><a class="btn btn-lg btn-gold" href="#" role="button">Заказать сейчас</a></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container">
                  <div class="carousel-caption">
                    <h2 class="section-header">Роскошь древесины <br> в Bашем доме</h2>
                    <p>Позвольте себе качество</p>
                    <p><a class="btn btn-lg btn-gold" href="#" role="button">Заказать сейчас</a></p>
                  </div>
                </div>
              </div>
              <div class="item active">
                <div class="container">
                  <div class="carousel-caption">
                    <h2 class="section-header">Роскошь древесины <br> в Bашем доме</h2>
                    <p>Позвольте себе качество</p>
                    <p><a class="btn btn-lg btn-gold" href="#" role="button">Заказать сейчас</a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
          </div>
        </div>
        <div class="scroll">

        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="container section collection">
          <h2 class="section-header">Коллекции</h2>
          <div class="container">
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/collection_kitchen.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Кухни</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/collection_daily.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Кухни</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/collection_sleeproom.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Кухни</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/collection_doors.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Кухни</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/collection_interior.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Кухни</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="container section history">
          <h2 class="section-header white">Семейное <br> производство</h2>
          <p class="center white">Уже второе поколение продолжает традиции фабрики, начавшей свою деятельность в 1992 году.</p>
          <p class="center white">Любовь к древесине, творчество и верность традициям стало основой нашего семейного предприятия.</p>
          <a href="" class="btn btn-lg btn-white center-block">Подробнее</a>
        </div>
      </div>
      <div class="row">
        <div class="container section services">
          <h2 class="section-header white">От идеи <br> до воплощения</h2>
          <p class="center white">Сегодня фабрика готова предложить весь спектр услуг от проектирования и визуализации Вашего уникального интерьера до его реализации с воплощением любых дизайнерских решений.</p>
          <a href="" class="btn btn-lg btn-white center-block">Подробнее</a>
        </div>
      </div>
      <div class="row">
        <div class="container  section quality">
          <h2 class="section-header white">Качество, проверенное <br> годами</h2>
          <p class="center white">Это современное производство полного цикла с поэтапным контролем и передовыми технологиями.</p>
          <a href="" class="btn btn-lg btn-white center-block">Подробнее</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-push-3 cta">
          <div href="#" class="calculation">
            <h2 class="section-header gold">&laquo; Заявка на <br> предварительный расчет</h2>
            <a href="" class="btn btn-lg btn-gold gold">Расчитать</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container section advantages">
          <h2 class="section-header ">Преимущества</h2>
          <div class="container">
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img img img-responsive" src="images/assembly.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Монтаж</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/delivery.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Доставка</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/projecting.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Проектирование и реализация под ключ</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/warranty.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">Гарантия</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 height-2-rows">
              <div class="tumbnail">
                <img class="tumbnail-img" src="images/3d.png" alt="">
                <div class="tumbnail-description">
                  <h3 class="tumbnail-header">3D визуализация интерьера</h3>
                  <p class="tumbnail-text">создайте своё идеальное решение</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid news">
          <div class="row">
            <h2 class="section-header ">Наши новости</h2>
            <div class="col-md-3">
              <a href="" class="news-item white">
                <div class="news-item-label">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <span class="news-date">11.08.2018</span>
                </div>
                <div class="news-item-description">
                  <h3 class="news-item-header">Завершены реконструкционные работы для театра оперы и балета</h3>
                  <p class="news-item-text">создайте своё идеальное решение</p>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="" class="news-item white">
                <div class="news-item-label">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <span class="news-date">11.08.2018</span>
                </div>
                <div class="news-item-description">
                  <h3 class="news-item-header">Завершены реконструкционные работы для театра оперы и балета</h3>
                  <p class="news-item-text">создайте своё идеальное решение</p>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="" class="news-item white">
                <div class="news-item-label">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <span class="news-date">11.08.2018</span>
                </div>
                <div class="news-item-description">
                  <h3 class="news-item-header">Завершены реконструкционные работы для театра оперы и балета</h3>
                  <p class="news-item-text">создайте своё идеальное решение</p>
                </div>
              </a>
            </div>
            <div class="col-md-3">
              <a href="" class="news-item white">
                <div class="news-item-label">
                  <span class="glyphicon glyphicon-calendar"></span>
                  <span class="news-date">11.08.2018</span>
                </div>
                <div class="news-item-description">
                  <h3 class="news-item-header">Завершены реконструкционные работы для театра оперы и балета</h3>
                  <p class="news-item-text">создайте своё идеальное решение</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid section contacts">
          <div class="row">
            <div id="map"></div>
            <a href="#" class="contacts-label center-block"></a>
            <div class="container ">
              <nav class="navbar contacts-nav hidden-xs">
                <a href="#" class="nav-item">Коллекции</a>
                <a href="#" class="nav-item">Проекты</a>
                <a href="#" class="nav-item">Преимущества</a>
                <a href="#" class="nav-item">Интернет-магазин</a>
                <a href="#" class="nav-item">Новости</a>
                <a href="#" class="nav-item">История</a>
                <a href="#" class="nav-item">Производство</a>
                <a href="#" class="nav-item">Контакты</a>
              </nav>
            </div>
            <div class="container">
              <div class="row ">
                <div class="col-md-4">
                  <div class="well city">
                    <p class="lead gold">Абинск</p>
                    <p class="small white">фабрика, салон</p>
                    <ul>
                      <li class="address">
                        <a href="#map" onclick="alert("make onclick map event");">
                          <address>ул. Красных Партизан, 136</address>
                        </a>
                      </li>
                      <li class="email">
                        <a href="mailto:mebel.demidov@gmail.com?subject=feedback">mebel.demidov@gmail.com</a>
                      </li>
                      <li class="tel"><a href="tel:+7-989-289-09-09">+7-989-289-09-09</a></li>
                      <li class="schedule">Пн-Пт: 09:00-18:00</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well city">
                      <p class="lead gold">Санкт-Петербург</p>
                      <p class="small white">салон</p>
                      <ul>
                        <li class="address">
                          <a href="#map" onclick="alert("make onclick map event");">
                            <address>ул. Красных Партизан, 136</address>
                          </a>
                        </li>
                        <li class="email">
                          <a href="mailto:mebel.demidov@gmail.com?subject=feedback">mebel.demidov@gmail.com</a>
                        </li>
                        <li class="tel"><a href="tel:+7-989-289-09-09">+7-989-289-09-09</a></li>
                        <li class="schedule">Пн-Пт: 09:00-18:00</li>
                      </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="well city">
                      <p class="lead gold">Краснодар</p>
                      <p class="small white">салон</p>
                      <ul>
                        <li class="address">
                          <a href="#map" onclick="alert("make onclick map event");">
                            <address>ул. Красных Партизан, 136</address>
                          </a>
                        </li>
                        <li class="email">
                          <a href="mailto:mebel.demidov@gmail.com?subject=feedback">mebel.demidov@gmail.com</a>
                        </li>
                        <li class="tel"><a href="tel:+7-989-289-09-09">+7-989-289-09-09</a></li>
                        <li class="schedule">Пн-Пт: 09:00-18:00</li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row visible-xs">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container footer-box">
        <div class="policy">
          <a href="#" class="privacy">Политика конфиденциальности</a>
        </div>
        <div class="social">
          <span>Мы в соцсетях:</span>
          <a href="#" class="vkontakte"></a>
          <a href="#" class="vk"></a>
          <a href="#" class="facebook"></a>
        </div>
      </div>
    </footer>
    <!--scripts-->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="facebook"></script>
    <!-- <script>window.jQuery || document.write("<script src='js/jquery.min.js'></script>");</script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script>$.fn.modal || document.write('<script src="js/bootstrap.min.js"></script>');</script> -->

    <!-- gooogle maps -->
    <!-- <script>
      function initMap() {
        var uluru = {lat: -45.051, lng: 38.953};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script> -->

  </body>
</html>
