Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Explore
 @DenysHnatiuk
Sign out
1
0 0 DenysHnatiuk/utk
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Insights  Settings
utk/footer.php
7db788b  on 18 Jul 2017
@DenysHnatiuk DenysHnatiuk initial commit

129 lines (126 sloc)  5.83 KB
  </main>
  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
      <span class="glyphicon glyphicon-menu-up"></span>
    </span>
  </div>
  <footer id="contacts" class="footer container-fluid">
    <div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 footer__overflow ">
  <h3 class="white">ООО <span>"Южная транспортная компания"</span></h3>
<table class="table table">
<tbody>
<tr>
  <td>Aдрес:</td>
  <td> Николаев, ул. Доктора Самойловича 12345</td>
</tr>
<tr>
  <td>Реквизиты</td>
  <td>ЄДРПОУ 38436360, св. ПДВ № 200107129, ІПН. 384363614231 Р/р. 26002053207852 в ПАТ КБ «Приватбанк» , МФО 326610</td>
</tr>
<tr>
  <td>Е-mail</td>
  <td><a href="mailto:info@yourmail.com" class="email">info@yourmail.com</a></td>
</tr>
<tr>
  <td>Телефон</td>
  <td><a href="tel:+380512345678" class="tel">+380512345678</a></span></td>
</tr>
<tr>
  <td>additional</td>
  <td>data</td>
</tr>
</tbody>
</table>

  <div class="copyright align-bottom">
    <span>&copy; 2017 |
            <a href="#copyModal" data-toggle="modal" data-target="#copyModal" class="policy">Developer</a>
          </span>

  </div>

</div>
<div class="col-xs-12 col-sm-12 col-md-6 footer__map  margin-bottom">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d682.062391715179!2d32.0270065!3d46.8584609!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1497106030574" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
    </div>
      <div class="raw">
            <!-- modal -->
            <div class="modal fade"  id="copyModal" tabindex="-1" role="dialog" aria-labelledby="#copyModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="copyModalLabel">MIT License</h4>
                  </div>
                  <div class="modal-body text-justify">
                    <p>MIT licence text</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta, a. Eum, eligendi, quidem. Libero facilis, optio delectus. Accusamus odit, obcaecati quaerat ratione repudiandae culpa suscipit in illum aut magni.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade"  id="vcardModal" tabindex="-1" role="dialog" aria-labelledby="#copyModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="vcardModalLabel">Контакт</h4>
                  </div>
                  <div class="modal-body text-justify">
                    <img src="wp-content/themes/twentyseventeen-child/assets/images/qr-code.gif" alt="qr-vcard" />
                    <span class="lead"> Алексей Барцев</span>
                    <table class="table table-striped">
                    <tbody>
                    <tr>
                      <td>компания:</td>
                      <td>ЮТК</td>
                    </tr>
                    <tr>
                      <td>Должность</td>
                      <td>логист</td>
                    </tr>
                    <tr>
                      <td>Е-mail</td>
                      <td><a href="mailto:bartseol@gmail.com" class="email">bartseol@gmail.com</a></td>
                    </tr>
                    <tr>
                      <td>Телефон</td>
                      <td><a href="tel:+380503941140" class="tel">+380503941140</a></span></td>
                    </tr>
                    <tr>
                      <td>адрес</td>
                      <td>ул.Океановская 32, Николаев, Украина</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </footer>
  <!--scripts-->
  <div class="scripts">
    <div class="third-party">
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </div>
    <div class="fallbacks">
      <script>window.jQuery || document.write("<script src='.\/js\/jquery.min.js'><\/script>");</script>
      <script>$.fn.modal || document.write('<script src=".\/js\/bootstrap.min.js"><\/script>');</script>
    </div>
  </div>
  <!-- bower:js -->
  <!-- endbower -->
  <script src="wp-content/themes/twentyseventeen-child/assets/js/custom.js" charset="utf-8"></script>
</body>
</html>
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
